<a href="https://colab.research.google.com/github/anemtarun/assignment-day1/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
list3 = [4,5,6,7,8]

arr1 =np.array([list1,list2,list3])
arr1

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [4, 5, 6, 7, 8]])

In [ ]:
#FROM THE ABOVE ARRAY, RETRIVE THE VALUES([[3,4],[5,6]]) USING INDEXING

arr1[1:3,1:3]

array([[3, 4],
       [5, 6]])